@media (max-width: 575.98px) { 
    /*body{background: red;}*/
    
    #cabecera {
        width: 100%;
        height: auto;
        margin: 0px auto;
    }

    .Edad_Usuario{
        width: 80%; 
        background: white;
        padding: 6px;
        border-radius: 8px;
       border: 2px solid black;
       font-size: 15px;
     }
     #Calcular_Gene{
        width: 62%;
        background: #378aca;
        border: none;
        padding: 8px;
        font-size: 15px;
        cursor: pointer;
        border-radius: 8px;
        color: white;
        margin-top: 10px;
        margin-bottom: 10px;
   }

   #Limpiar_Campos{
    width: 62%;
     background: #d6b02f;
     border: none;
     padding: 8px;
     font-size: 15px;
     cursor: pointer;
     border-radius: 8px;
     color: white;
}

#Resultado_Final{
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 3px;
    text-shadow: 0px 0px 5px black;
}

#MostrarResultado{
    width: 60%;
    height: auto;
    display: block;
    background: #ffffff;
    margin: auto;
    border-radius: 8px;
}

#cabecera #logotipo {
    margin: 0px auto;
    padding-top: 1px;
 }
 #cabecera h1 {
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0px;
    margin-top: 2px;
    text-shadow: 0px 2px 1px #333333;
    transition: all 300ms;
}

#footer {
    width: 100%;
    height: 100px;
    line-height: 35px;
    text-align: center;
    color: white;
    font-size: 20px;
    text-shadow: 10px 10px 15px black;
    margin-top: 5px;
}

#Titulos{
    font-size: 25px;
    padding-top: 5px;
    color: #858585;
}

 }


@media (min-width: 576px) and (max-width: 767.98px) { 
   /*body{background: green;}*/
   
   #cabecera {
    width: 100%;
    height: auto;
    margin: 0px auto;
    }

#cabecera #logotipo {
    margin: 0px auto;
    padding-bottom: 20px;
    }

   .Edad_Usuario{
    width: 80%; 
    background: white;
    padding: 6px;
    border-radius: 8px;
   border: 2px solid black;
   font-size: 15px;
    }
   
   #Limpiar_Campos {
    width: 30%;
    background: #d6b02f;
    border: none;
    padding: 8px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 8px;
    color: white;
    }

#Calcular_Gene {
    width: 30%;
    background: #378aca;
    border: none;
    padding: 8px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 8px;
    color: white;
    margin-top: 10px;
    }

#Titulos {
    font-size: 30px;
    padding-top: 5px;
    color: #858585;
    }

#MostrarResultado {
    width: 35%;
    height: auto;
    display: block;
    background: #ffffff;
    margin: auto;
    border-radius: 8px;
    }

    #footer {
        width: 100%;
        height: 100px;
        line-height: 50px;
        text-align: center;
        color: white;
        font-size: 25px;
        text-shadow: 10px 10px 15px black;
        margin-top: 5px;
    }

}

 @media (min-width: 768px) and (max-width: 991.98px) { 
    /*body{background: yellow;}*/

    #cabecera{
        width: 100%;
        height: 120px;
        margin: 0px auto;
    }

    .Edad_Usuario{
        width: 60%; 
        background: white;
        padding: 6px;
        border-radius: 8px;
       border: 2px solid black;
       font-size: 15px;
     }
   
     #Limpiar_Campos {
        width: 30%;
        background: #d6b02f;
        border: none;
        padding: 8px;
        font-size: 15px;
        cursor: pointer;
        border-radius: 8px;
        color: white;
    }
    
    #Calcular_Gene {
        width: 30%;
        background: #378aca;
        border: none;
        padding: 8px;
        font-size: 15px;
        cursor: pointer;
        border-radius: 8px;
        color: white;
        margin-top: 10px;
    }

    #MostrarResultado {
        width: 35%;
        height: auto;
        display: block;
        background: #ffffff;
        margin: auto;
        border-radius: 8px;
    }

    #footer {
        width: 100%;
        height: 100px;
        line-height: 53px;
        text-align: center;
        color: white;
        font-size: 25px;
        text-shadow: 10px 10px 15px black;
        margin-top: 5px;
    }
    
 }

@media (min-width: 992px) and (max-width: 1199.98px) { 
    /*body{background: blue;}*/
    
    #cabecera{
        width: 100%;
        height: 120px;
        margin: 0px auto;
    }

    .Edad_Usuario{
        width: 60%; 
        background: white;
        padding: 6px;
        border-radius: 8px;
       border: 2px solid black;
       font-size: 15px;
     }

     #Limpiar_Campos {
        width: 25%;
        background: #d6b02f;
        border: none;
        padding: 8px;
        font-size: 15px;
        cursor: pointer;
        border-radius: 8px;
        color: white;
    }
    
    #Calcular_Gene {
        width: 25%;
        background: #378aca;
        border: none;
        padding: 8px;
        font-size: 15px;
        cursor: pointer;
        border-radius: 8px;
        color: white;
        margin-top: 10px;
    }

    #MostrarResultado {
        width: 35%;
        height: auto;
        display: block;
        background: #ffffff;
        margin: auto;
        border-radius: 8px;
    }

    #footer {
        width: 100%;
        height: 100px;
        line-height: 53px;
        text-align: center;
        color: white;
        font-size: 25px;
        text-shadow: 10px 10px 15px black;
        margin-top: 5px;
    }
    
 }

@media (min-width: 1200px) { 
    /*body{background: blueviolet;}*/
    /*Hello*/
    .div_Principal {
        width: 950px;
        background-color: white;
        height: 500px;
        margin: 0px auto;
        border: 2px solid #636262;
        box-shadow: 5px 5px 5px black;
        border-radius: 8px;
    }

    .Edad_Usuario{
        width: 60%; 
        background: white;
        padding: 6px;
        border-radius: 8px;
       border: 2px solid black;
       font-size: 15px;
     }

    #Limpiar_Campos {
        width: 25%;
        background: #d6b02f;
        border: none;
        padding: 8px;
        font-size: 15px;
        cursor: pointer;
        border-radius: 8px;
        color: white;
    }
    
    #Calcular_Gene {
        width: 25%;
        background: #378aca;
        border: none;
        padding: 8px;
        font-size: 15px;
        cursor: pointer;
        border-radius: 8px;
        color: white;
        margin-top: 10px;
    }

    #MostrarResultado {
        width: 35%;
        height: auto;
        display: block;
        background: #ffffff;
        margin: auto;
        border-radius: 8px;
    }

    #footer {
        width: 100%;
        height: 100px;
        line-height: 53px;
        text-align: center;
        color: white;
        font-size: 25px;
        text-shadow: 10px 10px 15px black;
        margin-top: 5px;
    }

 }

 /*Others media*/
 @media (max-width: 273px){
    /*body{background: blue;}*/

    #cabecera h1 {
        text-align: center;
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
        letter-spacing: 0px;
        margin-top: 2px;
        text-shadow: 0px 2px 1px #333333;
        transition: all 300ms;
    }

    .Edad_Usuario {
        width: 100%;
        background: white;
        padding: 6px;
        border-radius: 8px;
        border: 2px solid black;
        font-size: 15px;
    }

    #Calcular_Gene {
        width: 90%;
        background: #378aca;
        border: none;
        padding: 8px;
        font-size: 15px;
        cursor: pointer;
        border-radius: 8px;
        color: white;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #Limpiar_Campos {
        width: 90%;
        background: #d6b02f;
        border: none;
        padding: 8px;
        font-size: 15px;
        cursor: pointer;
        border-radius: 8px;
        color: white;
    }

    #MostrarResultado {
        width: 100%;
        height: auto;
        display: block;
        background: #ffffff;
        margin: auto;
        border-radius: 8px;
    }

 }

 @media (max-width: 231px){
    /*body{background: red;}*/

    #cabecera h1 {
        text-align: center;
        font-size: 25px;
        font-family: Arial, Helvetica, sans-serif;
        letter-spacing: 0px;
        margin-top: 2px;
        text-shadow: 0px 2px 1px #333333;
        transition: all 300ms;
    }

    #Titulos {
        font-size: 20px;
        padding-top: 5px;
        color: #858585;
    }

 }

 @media (max-width: 209px){
    /*body{background: white;}*/

    #cabecera h1 {
        text-align: center;
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
        letter-spacing: 0px;
        margin-top: 2px;
        text-shadow: 0px 2px 1px #333333;
        transition: all 300ms;
    }

    .Edad_Usuario {
        width: 100%;
        background: white;
        padding: 6px;
        border-radius: 8px;
        border: 2px solid black;
        font-size: 15px;
    }

    #Calcular_Gene {
        width: 100%;
        background: #378aca;
        border: none;
        padding: 8px;
        font-size: 15px;
        cursor: pointer;
        border-radius: 8px;
        color: white;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #Limpiar_Campos {
        width: 100%;
        background: #d6b02f;
        border: none;
        padding: 8px;
        font-size: 15px;
        cursor: pointer;
        border-radius: 8px;
        color: white;
    }

    #Titulos {
        font-size: 20px;
        padding-top: 5px;
        color: #858585;
    }

    #MostrarResultado {
        width: 100%;
        height: auto;
        display: block;
        background: #ffffff;
        margin: auto;
        border-radius: 8px;
    }

#footer {
    width: 100%;
    height: 100px;
    line-height: 15px;
    text-align: center;
    color: white;
    font-size: 10px;
    text-shadow: 10px 10px 15px black;
    margin-top: 5px;
}

 }
